.button {
  width: 284px;
  height: 58px;
  background-color: #0d50ff;
  color: #fff;
  border-radius: 6px;
  border: none;
  padding: 16px 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
}

.button:hover {
  background-color: #282828;
  color: #fff;
}

.button:disabled {
  background-color: #ccc;
  color: #282828;
  border: 1px solid #282828;
  cursor: not-allowed;
}

.button:active{
    background-color: #fff;
    color: #282828;
    border: 1px solid #282828;
}

.active{
  background-color: #fff;
  color: #282828;
  border: 1px solid #282828;
}