.CartPage {
  padding: 0 40px;
}

.CartPage_titleBox {
  display: flex;
  margin: 40px 0 30px;
  align-items: center;
}

.CartPage_titleBox_title {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  color: #282828;
  text-align: left;
  white-space: nowrap;
}

.CartPage_titleBox_line {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  margin-left: 2%;
}

.CartPage_titleBox_btn {
  white-space: nowrap;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 6px;
}

.CartPage_titleBox_btn:hover {
  background: #f1f3f4;
}

.CartPage_emptyWarning {
  margin: 10px 0 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}

.CartPage_continueBtn_btn {
  width: 313px;
  height: 58px;
  padding: 16px 56px;
  border-radius: 6px;
  color: #ffffff;
  background: #0d50ff;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.CartPage_continueBtn_btn:hover {
  color: #ffffff;
}

.CartPage_itemsBox {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}
.CartPage_itemsBox_left {
  max-width: 780px;
  color: #282828;
}
.CartPage_item {
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 16px;
  width: 780px;
  height: 180px;
  transition: ease-in-out 500ms;
}

.CartPage_item:hover {
  box-shadow: 0 0 10px 0.1px #dddddd;
  /* transform: scale(0.95); */
}

.CartPage_itemImg {
  width: 200px;
  height: 180px;
}

.CartPage_itemImg img {
  width: 200px;
  height: 180px;
  object-fit: contain;
  border-right: 1px solid #dddddd;
}

.CartPage_itemInfo {
  display: flex;
  width: 100%;
  padding: 32px;
  justify-content: space-between;
}

.CartPage_itemInfo_left {
  max-width: 516px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CartPage_itemInfo_left h4 {
  width: 450px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 450px;
}

.CartPage_itemInfo_leftPrice {
  display: flex;
  align-items: center;
}

.deleteButton {
  border: none;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  cursor: pointer;
  font-weight: 600;
  width: 24px;
  height: 24px;
  font-size: 20px;
  margin: 0 4px;
}

.CartPage_itemInfo_leftBtnCounter {
  color: #282828;
  display: flex;
}

.CartPage_itemInfo_leftBtnCounter button {
  width: 58px;
  height: 58px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #8b8b8b;
  font-size: 25px;
}

.CartPage_itemInfo_leftBtnCounter button:hover {
  background: #f1f3f4;
}

.CartPage_itemInfo_leftBtnCounter input {
  width: 96px;
  height: 58px;
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

.CartPage_itemInfo_leftBtnCounter
  input[type="number"]::-webkit-outer-spin-button,
.CartPage_itemInfo_leftBtnCounter
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.CartPage_itemInfo_leftPrice_price {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 22px;
}

.discountPrice {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.defaultPrice {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #8b8b8b;
  align-self: end;
}

.CartPage_itemsBox_right {
  background: #f1f3f4;
  font-family: "Montserrat", sans-serif;
  padding: 32px;
  border-radius: 12px;
  width: 548px;
  margin-top: 16px;
  color: #282828;
}

.CartPage_itemsBox_right h3 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  margin-bottom: 24px;
  color: #282828;
}

.CartPage_itemsBox_right p {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  margin-bottom: 5px;
}

.totalQuantity, .totalPriceTitle {
    color: #8b8b8b;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
    text-align: left;
}

.totalPrice {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
  color: #282828;
}

.CartPage_itemsBox_right button {
  width: 100%;
}